<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>收藏</title>
    <link rel="stylesheet" href="../res/css/bootstrap4.5.2.min.css">
    <link rel="stylesheet" href="../res/font/css/font-awesome.min.css">
    <link rel="stylesheet" href="../res/css/global.css">
    <style>
        .table th,.table td{
            border-top: none;
            border-bottom: 1px solid #dee2e6;
        }
    </style>
</head>
<body class="bg-light">
    <!-- header s-->
    <header class="bg-dark">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark ">
                <a class="navbar-brand" href="#">LOGO</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-5">
                    <li class="nav-item active mr-5">
                      <a class="nav-link" href="#">首页 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item mr-5">
                      <a class="nav-link" href="#">收藏</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#">消息</a>
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0 mr-auto">
                    <input class="form-control mr-sm-2" type="search" placeholder="搜索海量内容..." aria-label="Search">
                    <button class="btn btn-info my-2 my-sm-0" type="submit">搜索</button>
                  </form>
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="#">登录</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">注册</a>
                    </li>
                    
                  </ul>
                </div>
              </nav>
        </div>
    </header>
    <main class="mt-3">
        <div class="container">
            <div class="row">
                <section class="col-8">
                    <div class="card">
                        <div class="card-body">
                            <table class="table">
                                <tbody>
                                  <tr class="table-default">
                                    <th scope="row" class="d-flex align-items-center">
                                        <div class="avatar">
                                            <img src="../res/images/avatar/06.jpg" class="rounded rounded-lg" alt="..." width="40" height="40">
                                        </div>
                                        <div class="content flex-grow-1 pl-3">
                                            <a href="" class="d-block title text-secondary">
                                                <p class="mb-0">前端学习路线分享</p>
                                            </a>
                                        </div>
                                        <div class="time font-weight-normal text-secondary">2021-01-21</div>
                                    </th>
                                  </tr>
                                  <tr class="table-default">
                                    <th scope="row" class="d-flex align-items-center">
                                        <div class="avatar">
                                            <img src="../res/images/avatar/01.jpg" class="rounded rounded-lg" alt="..." width="40" height="40">
                                        </div>
                                        <div class="content flex-grow-1 pl-3">
                                            <a href="" class="d-block title text-secondary">
                                                <p class="mb-0">Java学习笔记</p>
                                            </a>
                                        </div>
                                        <div class="time font-weight-normal text-secondary">2021-01-21</div>
                                    </th>
                                  </tr>
                                </tbody>
                            </table>
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                  <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                      <span aria-hidden="true">&laquo;</span>
                                    </a>
                                  </li>
                                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                                  <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                      <span aria-hidden="true">&raquo;</span>
                                    </a>
                                  </li>
                                </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </main>
</body>
</html>